header {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-auto-flow: row;
    
}
/* quand il n'y a pas de #wrap dans l'url (jenseign.com.com/page.html) */
#wrap:not(:target) {
  transform: translate3d(-335px, 0, 0); /* cache l'élément #wrap */
}
 
/* quand il y a un #wrap dans l'url (jenseign.com.com/page.html#wrap) */
#wrap:target {
  transform: translate3d(0, 0, 0); /* affiche l'élément */
}
img{
    grid-column-start: 1;
    grid-row-start: 3;
    grid-column-end: 3;
    grid-row-end: 2;
}

main{
    background-image: url(../competence1/img/andrea-davis-IWfe63thJxk-unsplash.jpg);;
    font-family: montserrat;
    background-size: cover;
    display: grid;
    

    height: 1600px;
}

.div1{
    background-color: #ffffff;
    width: 100%;
    
    display: grid;
    grid-column-start: 1;
    grid-row-start: 4;
    grid-column-end: 6;
    grid-row-end: 6;
    justify-content: center;
    border-radius: 4px;
}


.button1{
    background-color: #C4C4C4;

    margin-top:50px;
    width: 980px;
    font-family: montserrat;
    font-weight: bolder;
    align-items: center;
    font-size: 50px;
}

body{
    margin: 0;
    width: 100%;
    height: max-content;
}

.button2{
    background-color: #228D70;
    padding: 15px 20px;
    margin-bottom: 100px;
    margin-top: 50px;
    margin-left: 340px;
    border-radius: 5px;
    width: 300px;
    font-family: montserrat;
    font-weight: bolder;
    font-size: 40px;
    
}

.div2{
  grid-column-start: 2;
  grid-row-start: 6;
  grid-column-end: 5;
  grid-row-end: 7;
  font-family: montserrat;
  
}
.div2 p{
  font-size: 30px;
}

.button3{
    background-color: #FFC700;
    width: 500px;
    height: 100px;
    margin-left: 240px;
    font-family: montserrat;
    font-weight: bolder;
    font-size: 50px ;
    border-radius: 4px;
    justify-content: center;
}

footer{
    font-family: montserrat;
    background-color: #C4C4C4;
    height: 100%;
  }


#retour:link {
  text-decoration: none;
  color: black;
  font-family: montserrat;
  font-weight: bold;
}

#retour:visited{
  color: #228D70;
  font-family: montserrat;
  font-weight: bold;
}

#retour:hover{
  color: #FFC700;
  font-family: montserrat;
  font-weight: bold;
}



/* Menu */

.dropbtn {
    background-color:#ffffff;
    color: #FFC700;
    padding: 16px;
    font-size: 50px;
    border: none;
    cursor: pointer;
    
  }
  

  .dropdown {
    position: relative;
    font-family: montserrat;
    grid-column-start: 3;
    grid-row-start: 2;
    grid-column-end: 4;
    grid-row-end: 4;
    font-size: 25px;
  }
  

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    z-index: 1;
  }
  

  .dropdown-content a {
    color: #228D70;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  

  .dropdown-content a:hover {background-color: #FFC700}
  

  .dropdown:hover .dropdown-content {
    display: block;
  }
  
